body {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.left_header {
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 10%;
}

.right_header{ 
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    padding-right: 15%;
    gap: 20%;
    align-items: center;
}

/* Below helps remove the purple underline when visiting links, lets our right header links stay white */
a:link {text-decoration: none;}
a:visited {text-decoration: none; color: #E5E7EB;}
a:hover {text-decoration: none; color: #E5E7EB;}
a:active {text-decoration: none; color: #E5E7EB;}

.content_with_photo {
    display: flex;
    padding: 10%;
}

.content_text {
    display: flex;
    flex-direction: column;
}

.content_text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0;
}

.content_text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    /* Opacity lets us dim the text a bit */
    opacity: 0.8;
}

.content_text button {
    display: block;
    width: 125px;
    background-color: #3882F6;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 2%;
}

.content_photo {
    display: flex;
    margin-left: 5%;
    width: 500px;
    height: 500px;
}