body {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.left_header {
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 10%;
}

.right_header{ 
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    padding-right: 15%;
    gap: 20%;
}